// temp font for body
body {
  @extend %system_normal--400;
}

// fset1_01
// ==================================================/
.fset1-01 {
  background-color: #4d3d29;
}

.fset1-01 p {
  color: #d7d6a1;
}

.fset1-01 h4 {
  color: #fff;
}

.fset1-01 hr {
  color: #372c1f;
}

.fset1-01_copyright {
  text-align: center;
  display: block;
  color: #fdffdf;
}

.fset1-01_segment1,
.fset1-01_segment2,
.fset1-01_segment3 {
  padding: 4px;
}

/* fset1-01_li-article4 */
.fset1-01_li-article4_img-holder {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 6px;

  > img {
    height: 100%;
  }

}

.fset1-01_leftnav2 {
  a {
    display: inline-block;
    color: #d7d6a1;
    font-size: 16px;
    line-height: 100%;  
    margin-left: 6px;
  }

  > ul {
    margin-left: 6px;
    margin-right: 6px;
  }

  li {
    padding: 6px 6px 6px 0px;
    margin-bottom: 6px;

    &:nth-of-type(odd) {
    }

    &:first-of-type {
      border-bottom: 1px solid #000;
      padding: 0px 6px 6px 0px;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.fset1-01_leftnav2_nav-title {
  font-weight: bold;
  color: #000;
}

.fset1-01_leftnav2_img-holder {
  width: 20px;
  height: 20px;
  display: inline;
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
}

// fset1-01 media queries (_mq.scss)
// mobile portrait (320x480)
@include mq($from: mobile) {
  .fset1-01 {
    padding: 0;
  }

  .fset1-01_li-article4_img-holder {
    float: none;
    clear: right;
    margin-right: auto;
    margin-left: auto;
  }
}

// *small tablet portrait (600x800)
@include mq($from: smallTabletPortrait) {
  .fset1-01 {
    padding: 6px 10px 6px 10px; /* trbl */
  }

  .fset1-01_li-article4_img-holder {
    float: left;
    margin-right: 6px;
  } 
}
